<%- include ("./menu"); %>
<div class="container">
    <h1>Dashboard</h1>
    <p class="lead mb-3">Total Expenses: </p>
    <p class="lead mb-3">Due Amount: </p>
    <p class="lead mb-3">Cash in: </p>
    
</div>
