<%- include ("./menu"); %>
<h1>Share <%=expense.name %> expense of €<%= expense.total_amount %></h1>
<form method="post" action="/expenses/">
    <div class="row">
        <div class="col">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label for="user_id" class="labels">User</label>
                        <select class="form-select form-control" name="user_id" id="user_id">
                            <option selected>Select User</option>
                            <option value="11">Sandra</option>
                            <option value="10">Vitorino</option>
                            <option value="2">ze</option>
                            <option value="1">Gi</option>
                          </select>
                    </div>
                    <div class="col-md-4">
                        <label for="amount" class="labels">Amount</label>
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input type="number" name="amount" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="status_id" class="labels">Status</label>
                        <select class="form-select form-control" name="status_id" id="status_id">
                            <option selected>Select Status</option>
                            <option value="1">ACTIVE</option>
                            <option value="2">ON HOLD</option>
                            <option value="3">PAID</option>
                            <option value="4">CANCELLED</option>
                          </select>
                    </div>