<%- include ("./menu"); %>
<div class="container">
    <h1>New Expense</h1>
    <%- include ("./flash-messages"); %>
    <form method="post" action="/expenses/">
    <div class="row">
        <div class="col">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col">
                        <label for="name" class="labels">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="enter name">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="date" class="labels">Date</label>
                        <input type="date" name="date" class="form-control" placeholder="enter date">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="category" class="labels">Category</label>
                        <select class="form-select form-control" name="category_id" id="category">
                          <option selected>Select Category</option>
                          <option value="1">casa</option>
                          <option value="2">entertenimento</option>
                          <option value="3">impostos</option>
                          <option value="4">refeições</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="amount" class="labels">Total Amount</label>
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input type="number" name="total_amount" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="notes" class="labels">Notes</label>
                        <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="is_split">Split expense?</label>
                            <input class="form-check-input" type="checkbox" name="is_split" id="is_split">
                          </div>
                    </div>
                </div>
                <div class="mt-5" id="submitWrapper"><input type="submit" id="submitBtn" class="btn btn-primary profile-button" value="Submit Expense"></div>
            </div>
        </div>
    </div>
    </form>
</div>